body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

main {
  margin: 20px 0;
  padding: 20px;
  background-color: #e9e8e8;
  border-radius: 8px;
}

p {
  font-size: larger;
  font-weight: 700;
}

figure {
  margin: 20px 0;
}

#weather-icon {
  width: 100px;
  height: 100px;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: #444;
  text-transform: capitalize;
}

footer {
  margin-top: 30px;
  color: #666;
  font-size: 0.9em;
}