@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin-bottom: 15px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 306px);
  justify-content: space-around;
  gap: 20px;
}

section {
  background-color: #ced6e0;
  border-radius: 10px 10px 0 0;
}

section img {
  width: 300px;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}

section h3 {
  background-color: #3c6382;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  margin-top: 0;
  border-radius: 10px 10px 0 0;
}

a {
  width: 100%;
  display: block;
}

p,
a {
  padding-left: 10px;
}

.paragraph {
  padding: 10px;
  margin-top: 0;
}

footer {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: #FFECD1;
  text-shadow: #001524 2px 2px 2px;
  background-color: #0a3d62;
  border: 2px solid #545a5c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

footer .line-break {
  display: inline;
}

footer img {
  margin-left: 0;
}

@media only screen and (max-width: 968px) {
  main {
    grid-template-columns: 306px 306px;
  }

  .third-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }

}

@media only screen and (max-width: 650px) {
  main {
    grid-template-columns: 306px;
  }

  .third-card {
    grid-column-start: 0;
    grid-column-end: 1;
  }
}