body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /* Remove default body margin */
}

header,
main,
footer {
  max-width: 960px;
  /* Increased max-width for better responsiveness */
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  /* Single column on small screens */
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  /* Added border for better separation */
}

footer {
  text-align: center;
}