 @media (min-width: 768px) {
   #nav-menu {
     display: flex;
     flex-direction: row;
     gap: 20px;
   }

   #menu-toggle {
     display: none;
   }

   #hero img {
     width: 100%;
     height: auto;
     max-height: 500px;
     object-fit: cover;
   }

   #events .card,
   #weather .card,
   #spotlights .card {
     display: inline-block;
     width: calc(50% - 20px);
     margin: 10px;
     vertical-align: top;
   }

   section {
     text-align: center;
   }

   .footer-container {
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     /* Align items vertically centered */
     text-align: left;
   }

   .footer-center {
     flex: 2;
     /* Make the center section wider */
     text-align: center;
   }

   .footer-right {
     justify-content: flex-end;
     /* Push social icons to the far right */
   }
 }

 /* Social Media Icons */
 .footer-right {
   display: flex;
   gap: 15px;
 }

 .social-icon {
   width: 30px;
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0.9;
 }

 .social-icon:hover {
   transform: scale(1.1);
   opacity: 1;
 }