@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .card1,
  .card2 {
    width: 45%;
    margin: 10px auto 1rem;
    padding: 10px;
    border: 1px solid #6f7779;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #FFECD1;
    display: inline-block;
    vertical-align: top;
  }

  .card1 {
    width: 62%;
    margin-left: 0;
  }

  .card2 {
    width: 31%;
    margin-right: 0;
    text-align: center;
    font-size: 1.25rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  nav li,
  .card1 li {
    font-size: 1.25rem;
    margin: 10px;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation a {
    text-align: center;
  }

  .navigation a:hover,
  .navigation a:active {
    color: white;
    background-color: #15616D;
    border-radius: 50px;
  }

  #menu {
    display: none;
  }

  #map-container {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid #6f7779;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #FFECD1;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  #map {
    width: 94%;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #6f7779;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  footer {
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.5);
  }

  footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }

  footer .line-break {
    display: inline;
  }

  footer img {
    margin-left: 0;
  }
}