@media (min-width: 768px) {

  /* Flex container setup for layout */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Card styles for both .card1 and .card2 */
  .card1,
  .card2 {
    width: 45%;
    margin: 10px auto 1rem;
    padding: 10px;
    border: 2px solid #757e80;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #FFECD1;
    display: inline-block;
    vertical-align: top;
  }

  /* Specific width and styling for .card1 */
  .card1 {
    width: 62%;
  }

  /* Specific width and styling for .card2 */
  .card2 {
    width: 31%;
    text-align: center;
    font-size: 1.25rem;
  }

  /* Navigation setup */
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* List item styles for nav and .card1 */
  nav li,
  .card1 li {
    font-size: 1.25rem;
    margin: 10px;
  }
}